<head> 
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="./jquery-2.1.0.min.js"></script>
<link rel="stylesheet" href="leaflet.css" />
<script src="./leaflet.js"></script>
<link rel="stylesheet" href="leaflet.draw.css" />
<script src="./leaflet.draw.js"></script>
	<div id="map" style="width: 800px; height: 600px"></div>
<title> Record Selection</title>
</head>
		
<script>
var map = L.map('map').setView([42.901206, -78.865002], 13);


L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

// Initialise the FeatureGroup to store editable layers
var drawnItems = new L.FeatureGroup();
map.addLayer(drawnItems);

// Initialise the draw control and pass it the FeatureGroup of editable layers
var drawControl = new L.Control.Draw({draw:{polyline: false, marker: false}, edit: {featureGroup: drawnItems}});
map.addControl(drawControl);

map.on('draw:created', function (e) {
    var type = e.layerType,
        layer = e.layer;

    // Do whatever else you need to. (save to db, add to map etc)
    //map.addLayer(layer);
    drawnItems.addLayer(layer);
});


</script>

<form action = "/property/csv" method = "post" id="getpropertycsv">
        <input type="submit" name="boundary" value="Get CSV Records" onclick="getpropertycsv.boundary.value=JSON.stringify(drawnItems.getLayers()[0].toGeoJSON());" />
</form>


<form action = "/property" method = "post" id="getproperty">
        <input type="submit" name="boundary" value="Get JSON Records" onclick="getproperty.boundary.value=JSON.stringify(drawnItems.getLayers()[0].toGeoJSON());" />
</form>

<form action = "/property/value/sqft" method = "post" id="sqft">
        <input type="submit" name="boundary" value="Calculate Price/Sqft" onclick="sqft.boundary.value=JSON.stringify(drawnItems.getLayers()[0].toGeoJSON());" />
</form>

<form action = "/sales" method = "post" id="sales">
    <p>Date: <input type="text" name="startdate"></p>
    <p>Date: <input type="text" name="enddate"></p>
    <input type="submit" name="boundary" value="Get Sales" onclick="sales.boundary.value=JSON.stringify(drawnItems.getLayers()[0].toGeoJSON());" />
</form>

<form action = "/property/sales/flipping" method = "post" id="flipping">
    <p>Date: <input type="text" name="startdate"></p>
    <p>Date: <input type="text" name="enddate"></p>
    <input type="submit" name="boundary" value="Get Flipping" onclick="flipping.boundary.value=JSON.stringify(drawnItems.getLayers()[0].toGeoJSON());" />
</form>

<form action = "/sales/price/sqft" method = "post" id="salesqft">
    <p>Date: <input type="text" name="startdate"></p>
    <p>Date: <input type="text" name="enddate"></p>
    <input type="submit" name="boundary" value="Get Sale Price/Sqft" onclick="salesqft.boundary.value=JSON.stringify(drawnItems.getLayers()[0].toGeoJSON());" />
